<div class="container-fluid">
    <div class="col-md-2 col-md-offset-1">
        <div class="cs-overlap-slider-container">
            <div class="cs-slider">
                <rzslider rz-slider-model="selectorSlider.value" rz-slider-options="selectorSlider.options" select="refreshSlider()"></rzslider>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="cs-overlap-slider-container">
            <div class="cs-slider">
                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 cs-map-container no-padding">
            <ng-map id="map" zoom="10" center="{{center}}" zoom-to-include-markers="true" default-style="false">
                <marker ng-repeat="event in events"
                        position="{{event.pos}}"></marker>
            </ng-map>
        </div>



        <div class="col-md-3">
            <div class="event-list-container">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="event in events">
                        <h4 class="list-group-item-heading">Event ID: {{$index + 1}}</h4>
                        <p class="list-group-item-text">Longitude: {{event.longitude}}</p>
                        <p class="list-group-item-text">Latitude: {{event.latitude}}</p>
                        <p class="list-group-item-text text-muted small">{{event.event_date_time}}</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>