<!doctype html>

<html lang="en" ng-app="CsenseFlask">
	<head>
		<title>Citizen Sensing</title>
		<base href="/">

		<meta charset="utf-8">
		<title>AngularFlask</title>

		<link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/app.css">
		<link rel="stylesheet" href="/static/css/rzslider.css">
		<link rel="stylesheet" href="/static/css/datepicker.css">

		<link rel="stylesheet" href="/static/lib/fa/fa-brands.min.css">
		<link rel="stylesheet" href="/static/lib/fa/fa-regular.min.css">
		<link rel="stylesheet" href="/static/lib/fa/fa-solid.min.css">
		<link rel="stylesheet" href="/static/lib/fa/fontawesome-all.min.css">
		<link rel="stylesheet" href="/static/lib/fa/fontawesome.min.css">
		<link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-social.css">

		<script src="/static/lib/angular/angular.js"></script>
		<script src="/static/lib/angular/angular-animate.js"></script>
		<script src="/static/lib/angular/angular-sanitize.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
		<script src="/static/lib/angular/angular-resource.js"></script>
		<script src="/static/lib/angular/angular-route.js"></script>

		<script src="/static/js/app.js"></script>
		<script src="/static/js/controllers.js"></script>
		<script src="/static/js/services.js"></script>
		<script src="/static/js/directives.js"></script>
		<script src="/static/js/filters.js"></script>

		<script src="/static/lib/jquery/jquery-3.3.1.js"></script>
		<script src="/static/lib/moment.min.js"></script>
		<script src="/static/lib/twitter-angular.js"></script>
		<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

		<script src="https://maps.google.com/maps/api/js?key=AIzaSyDvZT9ZLA12N8s8NQ7NueGdXeUC2MgTBXs&libraries=placeses,visualization,drawing,geometry,places"></script>

		<script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Citizen Sensing</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/about">About</a></li>
						<li><a href="/help">Help</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
								<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/devices">Manage Devices</a></li>
								<li><a href="#">Manage Events</a></li>
								<li><a href="#">Users</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/login">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<br>
		<br>

		<div class="col-md-12 col-xs-12 col-sm-12 no-padding">
			<div ng-view></div>
		</div>


		<!--inject scripts here-->
		<script src="/static/lib/ng-map.min.js"></script>
	</body>
</html>